{% extends 'base.html' %}
{% block title %}about{% endblock title%}
{% block body %}Our recent survey discovered that 77% of diners tried a restaurant based on its social media content.<br>
While that sounds promising… the research also noted that 21% say a restaurant's social media posts (low-quality content or <br>
infrequent posting) are the reason why they’d never go.<br><br>

To succeed, your restaurant social media marketing strategy needs authentic content that represents who you are as a brand.<br>

And with 4.7 billion people using social media around the world (almost 60% of the world’s population), staying authentic is the only <br>way to create a successful restaurant social media marketing strategy.
Ravish kumar <br> mobile number 9354271779 {% endblock body %}
